{% extends '@Gui/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Process Results' | trans } %}

        {% block widget_content %}
            <h4>{{ 'Process' | trans }}</h4>
            <table class="table">
                {% for key, item in process %}
                    <tr>
                        <td style="width: 150px;">{{ key | replace({'_': " "}) }}</td>
                        <td>
                            {{ item | raw }}
                        </td>
                    </tr>

                {% endfor %}

            </table>
            {{ processResultsTable | raw }}
        {% endblock %}

    {% endembed %}

{% endblock %}